body {
    line-height: 1.5;
    margin: auto;
    background-color: lightgrey;
    font-family: Verdana;
    font-size: 14px;
    color: #323232;
    text-align: center;
}

header {
    position: static;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    padding-top: 30px;
    margin-bottom: 20px;
}

h1 {
    font-size: 20pt;
    margin: 1em 0em 0em 0em;
}

h3 {
    font-size: 1em;
    margin: 1em 0em 0em 0em;
}
/* 
#submitForm{
    margin: 1em 0em 5em 0em;
} */

form{
    position: relative;
    width: 400px;
    height: 200px;
    text-align: left;
    margin-left: 30%;
}